.board-page{
    width: 100%;
}
.board-page .board-container{
    padding: 0 4.8vw;
}
.board-page .board-container .nav-link{
    width: 100%;
    height: 100%;
    background-color: #E9EBF4;
    border-bottom: 1px solid #02178D;
}

.board-page .board-container .active.nav-link {
    background-color: #ffffff;
    border: 1px solid #02178D;
    border-bottom: 1px solid #ffffff;
}
.board-page .board-container .nav-item {
    width: 30%;
    margin-bottom: -2px;
}
.tab-content{
    height: calc(100% - 41px);
    border: 1px solid #02178D;
    overflow: hidden;
}
.create-date{
    border: 1px solid #02178D;
}
.create-action button{
    width: 100%;
    background-color: #02178D;
}
.create-action div{
    width: 100%;
    height: 45%;
    background-color: #02178D;
}
.create-comment{
    margin-top: 1%;
    border: 1px solid #02178D;
}
.tab-pane{
    width: 100%;
    height: 100%;
    border: 1px solid #02178D;
}
.tab-item{
    position: relative;
}
.tab-item .rs-notes{
    width: 100% !important;
    height: 100% !important;
}
.round-chart{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue {
    width: 600px;
    height: 600px;
    position: relative;
}

.white {
    height: 400px;
    width: 400px;
    border: 1px solid #02178D;
    position: absolute;
    top: 100px;
    left: 100px;
}

.red {
    height: 200px;
    width: 200px;
    border: 1px solid #02178D;
    position: absolute;
    top: 100px;
    left: 100px;
}
.chart-diagram {
    width: 100%;
    height: 50%;
}
.diagram {
    width: 50%;
    height: 100%;
}
.modal-content {
    padding: 1rem 2.5rem;
}

@media screen and ( min-width: 640px){
    .round-chart .blue {
        width:  300px;
        height: 300px;
    }
}

@media screen and ( min-width: 768px){
    .round-chart .blue {
        width:  400px;
        height: 400px;
    }
}

@media screen and ( min-width: 768px){
    .round-chart .blue {
        width:  400px;
        height: 400px;
    }
}

@media screen and ( min-width: 1280px){
    .round-chart .blue {
        width:  450px;
        height: 450px;
    }
}

@media screen and ( min-width: 1536px){
    .round-chart .blue {
        width:  600px;
        height: 600px;
    }
}
